.contact-container {
    background-color: #181818;
    height: 280px;
    position: relative;
}

.contact-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.icon {
    font-size: 35px;
    color: white;
    background-color: #181818;
}

.contact-icon-container a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon-container a:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 35px;
    background-color: white;
    margin-left: 20px;
}

a:hover {
    text-decoration: none;
    background-color: #181818;
}