.experience-container {
    background-color: #282828;
    height: 1500px;
}

.experience-title {
    color: white;
    font-size: 50px;
    padding-top: 150px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.experience-content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}