.nav-bar {
    color: white;
    background-color: #282828;
    padding: 15px 0 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.nav-bar a {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    font-weight: 600;
    font-size: 15px;
    margin: 0 50px;
    letter-spacing: 0.4px;
    color: white;
}

a:hover {
    background-color: #2b2b2b;
}