.navigation-container {
    color: white;
    background-color: #282828;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigation-container a {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    font-weight: 600;
    font-size: 16px;
    margin: 0 50px;
    letter-spacing: 0.4px;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px;
}

.navigation-hover:hover {
    background-color: #353535;
    border-radius: 7px;
}